@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #ba8208 0%, #8a1447 50%, #8c0eaf 99%);
}

P{
    color: white;
}
.nav-link{
    color: rgb(117, 54, 177);
}

.navbar-nav .nav-link.active{
    color: rgb(167, 167, 167);
}

.navbar-brand img{
    width: 35px;
}

.navbar-toggler{
    background-color: white;
}

.card{
    box-shadow: 10px 17px 10px 1px #00000063;
}
.sidebar{
    color: #000000;
    background-color: #ffffff;
    box-shadow: 10px 17px 10px 1px #00000063;
}

.slide-text,
.footer-text{
    color: #ffffff;
    margin: auto auto;
}

@media(max-width:750px){
    .carousel-indicators{
        display: none;
    }
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
